p   {color: black;}
h1  {color: black;}
h2  {color:red}
h3  {color:rgb(255, 0, 0)}
h4  {color:red}
h5  {color:red}
h6  {color:red}
h1 {font-size: 30px;}
h2 {font-size: 30px;}
h3 {font-size: 30px;}
h4 {font-size: 30px;}
h5 {font-size: 30px;}
h6 {font-size: 30px;}
p {font-size: 18px;}
